# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/**/*.log
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Build / coverage
dist/
build/
coverage/

# Editor / IDE files
.vscode/
.idea/
*.swp

# Temporary files
tmp/
*.tmp
*.bak
*.cache

uploads/